body {
	color: gray;
}
.logo {
	height: 40px;
	
}
/************style for current leader*****************/
.leader {
	display: inline-block;
	font-weight: bold;
}
/************styling for photo group, name, blurb; (abs pins button and votes to bottom) ****************/
.img-group {
	border: 1px dotted grey;
	padding: 15px;
	height: 400px;
	width: 100%;
}
.abs {
	 position: absolute;
	 bottom: 10px;
	 left: 15px;
 }

.pix {
   height: 200px;
   object-fit: cover;
   width: 100%;

 }	
 
 .highlight {
 	padding: 5px;
 	width: 200%;
 	overflow: visible;
 }

 .votes {
  	font-weight: bold;
 }
 input.pick-me {
 	float: right;
 }
 .caption {
	font-size: 1.2rem;
	font-weight: bold;
}
p.blurb {
	font-size: .9rem;
	line-height: 1rem;
}
 
 /******************styling for side-bar photos of winners*****************************/
 .winner {
   height: 300px;
   object-fit: cover;
   width: 100%;
 
 }


/*** footer ***/
 footer {
     clear: both;
     width: 100%;
     border-top: 1px solid gray;
     padding: 20px;
 }
