.grid-container1 {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 15px;
	background-color: skyblue;
	margin-bottom: 2%;
}
.grid-container-space {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 15px;
	text-align: center;
	background-color: skyblue;
	margin-bottom: 2%;
	justify-content: space-evenly;
}
.grid-item {
	background-color: violet;
	border: 1px solid darkblue;
	padding: 20px;
	color: white;
	justify-content: center;
}
.grid-container-end {
	display: inline-grid;
	width: 400px;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 15px;
	background-color: skyblue;
	margin-bottom: 2%;
	text-align: right;
	justify-content: end;
}
.item-six {
	grid-column-start: 3;
	grid-column-end: 5;
}
.item-seven {
	grid-row-start: 2;
	grid-row-end: 4;
	
}
.grid-area {
	display: grid;
	background-color: lavender;
	margin-bottom: 1.5em;
}